/* Variables */
:root {
  --primary-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

/* End Variables */
/* Global Rules  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules  */
/* Components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  height: 2px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  bottom: -37.5px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.main-heading p {
  color: #777;
  line-height: 2;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
}

/* End Components */
/* Header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}

header .logo img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  display: none;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  header nav .toggle-menu {
    display: block;
    cursor: pointer;
  }
}

header nav ul {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(0 0 0 / 60%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 14px;
  padding: 40px 10px;
  /* Fix the active border issue */
  position: relative;
  z-index: 1;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 40px;
  border-left: 1px solid white;
}

header nav .form i {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

/* End Header */
/* Landing */
.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.landing .overlay {
  background-color: rgba(0 0 0 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

@media screen and (max-width: 767px) {

  .landing .text,
  .landing .text .content {
    justify-content: center;
    width: 100%;
  }
}

.landing .text .content h2 {
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: normal;
}

.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

@media screen and (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .change-background:first-of-type {
  left: 30px;
}

.landing .change-background:last-of-type {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 5px;
}

.landing .bullets li.active {
  background-color: var(--primary-color);
  border: none;
}

/* End Landing */
/* Services */
.services {
  padding: var(--section-padding) 0;
}

@media (min-width: 767px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.services .services-content .srv {
  display: flex;
}

.services .services-content .srv i {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .services .services-content .srv {
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
  }

  .services .services-content .srv i {
    margin: 0 0 50px;
  }
}

.services .services-content .srv .text h3 {
  margin-bottom: 30px;
  color: var(--primary-color);
}

.services .services-content .srv .text p {
  line-height: 2;
  color: #777;
}

/* End Services */
/* Design Section */
.design {
  padding: var(--section-padding) 0;
  height: 600px;
  position: relative;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media screen and (max-width: 768px) {
  .design .image {
    display: none;
  }
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

/* End Design Section */
/* Portfolio Section */
.portfoilo {
  padding: var(--section-padding) 0;
}

.portfoilo .shuffle {
  display: flex;
  justify-content: center;
}

.portfoilo .shuffle li {
  padding: 10px;
}

.portfoilo .shuffle li.active {
  color: white;
  background-color: var(--primary-color);
}

.portfoilo .imgs-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.portfoilo .imgs-container .box {
  position: relative;
  overflow: hidden;
}

.portfoilo .imgs-container .box:hover .caption {
  bottom: 0;
}

.portfoilo .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfoilo .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfoilo .imgs-container .box .caption {
  position: absolute;
  padding: 10px 0 10px 20px;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 70px;
  background-color: rgb(255 255 255 / 80%);
  transition: 0.3s;
}

.portfoilo .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfoilo .imgs-container .box .caption p {
  color: var(--primary-color);
}

.portfoilo .more {
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

/* End Portfolio Section */
/* Video section */
.video-section {
  position: relative;
}

.video-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0 0 0 / 40%);
}

.video-section video {
  width: 100%;
}

.video-section .text {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  text-align: center;
  color: white;
  padding: 50px;
}

.video-section .text p,
.video-section .text button {
  margin-top: 30px;
}

.video-section .text h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.video-section .text button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
}

/* End Video section */
/* About Section */
.about {
  padding: var(--section-padding) 0 0;
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .about img {
    bottom: -80px;
    margin-top: -80px;
  }
}

/* End About Section */
/* Stats Section */
.stats {
  padding: var(--section-padding) 0;
  background-image: url("../images/stats.png");
  background-size: auto;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.stats .stats-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.stats .stats-container .box {
  color: white;
  padding: 50px;
  text-align: center;
  background-color: var(--transparent-color);
}

@media screen and (max-width: 767px) {
  .stats .stats-container .box {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .stats .stats-container .box {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 992px) {
  .stats .stats-container .box {
    flex-basis: 25%;
  }
}

.stats .stats-container .box i {
  width: 40px;
  aspect-ratio: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .stats-container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats .stats-container .box p {
  font-size: 14px;
}

/* End Stats Section */
/* Skills Section */
.our-skills {
  padding: var(--section-padding) 0;
}

.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .our-skills .container>div {
    flex-basis: 45%;
  }
}

.our-skills .container>div>h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.our-skills .container>div>p {
  text-align: center;
  color: #777;
  line-height: 2;
  margin-bottom: 60px;
}

.our-skills .container .testimonials {
  position: relative;
}

.our-skills .container .testimonial-card {
  display: flex;
  margin-bottom: 40px;
}

.our-skills .container .testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .our-skills .container .testimonial-card {
    flex-direction: column;
    text-align: center;
  }

  .our-skills .container .testimonial-card img {
    margin: 0 auto 20px;
  }
}

.our-skills .container .testimonial-card .text {
  line-height: 2;
  border-bottom: 1px solid #ccc;
}

.our-skills .container .testimonial-card .text p {
  text-align: right;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-skills .container .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 5px;
}

.our-skills .container .testimonials .bullets li.active {
  background-color: var(--primary-color);
  border: none;
}

.our-skills .skills .skill {
  margin-bottom: 40px;
}

.our-skills .skills .skill h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.our-skills .skills .skill .prog {
  height: 30px;
  background-color: #dedadc;
}

.our-skills .skills .skill .prog span {
  display: block;
  position: relative;
  height: 100%;
  background-color: var(--primary-color);
}

.our-skills .skills .skill .prog span::before {
  content: attr(data-progress);
  position: absolute;
  top: -40px;
  right: -20px;
  background-color: black;
  color: white;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 3px;
}

.our-skills .skills .skill .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}

/* End Skills Section */
/* Quote Section */
.quote {
  padding: var(--section-padding) 0;
  background-image: url("../images/quote.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}

.quote .container {
  position: relative;
}

.quote .container q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}

.quote .container q:before {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: bold;
  font-size: 20px;
}

.quote .container q:after {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: bold;
  font-size: 20px;
}

/* End Quote Section */
/* Pricing Section */
.pricing {
  padding: var(--section-padding) 0;
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.pricing .plans .plan-card {
  text-align: center;
  background-color: #fcfcfc;
}

.pricing .plans .plan-card .head {
  padding: 40px 20px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.pricing .plans .plan-card .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.pricing .plans .plan-card .head span {
  font-weight: bold;
  font-size: 60px;
}

.pricing .plans .plan-card .head span.dollar::before {
  font-family: "Font Awesome 5 Free";
  content: "\24";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -40px;
  left: -10px;
}

.pricing .plans .plan-card .head span.month::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -10px;
}

.pricing .plans .plan-card .features {
  text-align: center;
}

.pricing .plans .plan-card .features li {
  margin: 0 auto;
  padding: 20px 0;
  width: fit-content;
  position: relative;
}

.pricing .plans .plan-card .features li::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.pricing .plans .plan-card .features li:last-of-type::after {
  content: none;
}

.pricing .plans .plan-card .foot a {
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}

.pricing .plans .plan-card .foot {
  padding: 40px 20px;
  border-top: 1px solid var(--primary-color);
}

.pricing .contact-text {
  margin: 50px 0 0;
  font-size: 20px;
  text-align: center;
}

.pricing .contact-link {
  margin: 30px auto 0;
  display: block;
  width: fit-content;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

/* End Pricing Section */
/* Subscripe Section */
.subscripe {
  padding: var(--section-padding) 0;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
}

.subscripe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.subscripe .container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .subscripe .container {
    flex-direction: column;
  }
}

.subscripe form {
  position: relative;
  display: flex;
  width: 500px;
  max-width: 100%;
}

.subscripe form input[type="email"] {
  background: none;
  padding: 20px 20px 20px 60px;
  border: 1px solid white;
  border-right: none;
  color: white;
  caret-color: var(--primary-color);
  width: calc(100% - 130px);
}

.subscripe form input[type="email"]:focus {
  outline: none;
}

.subscripe form input[type="submit"] {
  background-color: var(--primary-color);
  border: 1px solid white;
  border-left: none;
  color: white;
  width: 130px;
  text-transform: uppercase;
}

.subscripe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.subscripe form ::placeholder {
  color: white;
}

.subscripe p {
  margin-left: 40px;
  line-height: 2;
}

@media screen and (max-width: 991px) {
  .subscripe p {
    margin: 40px 0 0;
    line-height: 2;
    text-align: center;
  }
}

/* End Subscripe Section */
/* Contact Us Section */
.contact-us {
  padding: var(--section-padding) 0;
}

.contact-us .content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .contact-us .content {
    flex-direction: column;
  }
}

.contact-us .content form {
  flex-basis: 70%;
}

.contact-us .content form .main-input {
  display: block;
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
  border: 1px solid #ccc;
}

.contact-us .content form .main-input:focus {
  outline: none;
}

.contact-us .content form textarea {
  height: 200px;
}

.contact-us .content form input[type="submit"] {
  padding: 20px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  border: none;
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

.contact-us .content .info {
  flex-basis: 25%;
}

@media screen and (max-width: 767px) {
  .contact-us .content .info {
    text-align: center;
    order: -1;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas:
      "h1 h2"
      "s a";
  }
}

.contact-us .content .info h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-us .content .info span.phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}


.contact-us .content .info h4:last-of-type {
  margin: 70px 0 30px;
}

.contact-us .content .info address {
  line-height: 2;
  color: #777;
}

@media screen and (max-width: 767px) {
  .contact-us .content .info h4 {
    grid-area: h1;
    margin: auto auto 40px;
  }

  .contact-us .content .info span.phone {
    grid-area: s;
  }


  .contact-us .content .info h4:last-of-type {
    grid-area: h2;
    margin: auto auto 40px;
  }

  .contact-us .content .info address {
    grid-area: a;
    margin-top: -10px;
  }
}

/* End Contact Us Section */
/* Footer */
footer {
  padding: calc(var(--section-padding)/2);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

footer .container {
  text-align: center;
  position: relative;
}

footer img.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}

footer p:first-of-type {
  text-transform: uppercase;
  font-size: 22px;
  padding: 0 20px 20px;
  margin: 20px auto;
  width: fit-content;
  border-bottom: 1px solid white;
}

footer .social-icons i {
  padding: 10px 15px;
}

footer p:last-of-type {
  margin-top: 60px;
}

footer p:last-of-type strong {
  color: var(--primary-color);
}

/* End Footer */